.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  position: relative;
}

// .main-nav__menu {
//   position: relative;
// }

.main-nav__logo {
  border-bottom: 1px solid $grey;
  padding: 10px 0 10px 15px;
}

.main-nav__logo-item {
  width: 45px;
  height: 45px;
}

.main-nav__popup {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

// когда класс .main-nav--closed то скрываем .main-nav__popup
.main-nav__popup--closed {
  display: none;
}

.main-nav__popup-item {
  height: 65px;
  border-bottom: 1px solid $grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

// [href] применять только для href
.main-nav__popup-link {
  letter-spacing: 1px;

  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    border-bottom: none;
    height: auto;
    margin-left: 50px;
  }

  .main-nav__logo-item {
    width: 90px;
    height: 90px;
  }

  .main-nav__menu {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }

  .main-nav__popup {
    flex-direction: row;
    text-transform: none;
  }

  .main-nav__popup-item {
    margin-right: 20px;
    border-bottom: none;
  }

  .main-nav__popup-link--active {
    border-bottom: 2px solid $orange;
    line-height: 40px;
    padding-top: 2px;
  }

  // когда класс .main-nav--closed то скрываем .main-nav__popup
  .main-nav__popup--closed {
    display: flex;
  }

  .burger {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1024px;
    font-size: 24px;
    line-height: 36px;
  }

  .main-nav__logo {
    padding: 20px 0;
  }

  .main-nav__popup-item {
    margin-right: 25px;
  }

  .main-nav__logo-item {
    width: 120px;
    height: 120px;
  }
}
